body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.add-container {
  display: flex;
  justify-content: center;
}

.navbar.navbar-brand {
  background-color: white;
  box-shadow: 3px 2px 4px grey;
}


.navbar {
  background-color: white;
}

#cockyboys {
  position: relative;
  bottom: 60%;
  height: auto;
  width: 14em;
}

main { flex: 1 0 auto; }

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  color: black;

}

#logo {
  width: 100px;
  height: 50px;
  margin-right: 10px;
  margin-left: 0px;

}

.panel-primary {
  width: 100%;
  float: left;
}

.card-info {
  width: 100%;
  float: right;
  overflow: auto;

}

#copyright {
  float: right;
  position: relative;
  left: 5%;
}


#newbtn {
  position: relative;
  left: 47%;
}

.rightNav {
  float: right;
}


.navbar-fixed-bottom {
  bottom: 0;
   height: 4em;
   left: 0;
   position: relative;
   font-size: small;
   width:100%;
}

#greeting {
  position: relative;
  float: left;
  right: 20%;
}

.card-model {
  float:left;
  display: inline;
  margin: 1%;
  width: 18%;
  max-width: 20rem;
  max-height: 40rem;
  min-width: 20rem;
  min-height: 40rem;
}

.card-img-top {
  width: 100%;
  height: auto;
  max-height: 25rem;
  min-height: 25rem;
  min-width: 20rem;


}

.delete-btn {
  float: right;

}

.edit-btn {
float: left;

}

.edit-model-btn {
  float: left;
}
