<main>
<div class="jumbotron">
  <div class="container">
      <h1>Add, View + Update Contacts</h1>
      <p>Fill out the form below to get started!</p>
      <p><a class="btn btn-primary btn-lg" href="/contacts" role="button">View All</a></p>
  </div>
</div>

<div class="container add-container">
  <div class="col-md-12">
<div class="card card-primary">
  <div class="card-heading">
    <h3 class="card-title bg-light">Add Contact</h3>
  </div>

  <div class="card-body">
  <div class="row">
    <div class="col-md-6">

    <form action="/api/contacts" method="post">
      <div class="form-group">
        <label for="performerFirst">Performer First Name</label>
        <input type="text" name="performer_first_name" class="form-control" id="performer_first_name" placeholder="John">
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" name="first_name" class="form-control" id="firstName" placeholder="John">
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" name="phone" class="form-control" id="phone" placeholder="(800)-867-5309">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Email@Email.com">
      </div>
      <div class="form-group">
        <label for="company">Company</label>
        <input type="company" name="company" class="form-control" id="company" placeholder="CockyBoys">
      </div>
      <div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" name="exclusive" id="exclusive" value="Exclusive">
    Exclusive
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" name="exclusive" id="semi_exclusive" value="Semi-Exclusive">
    Semi-Exclusive
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" name="exclusive" id="non_exclusive" value="Non-Exclusive">
    Non-Exclusive
  </label>
</div>
    </div>


  <div class="col-md-6">
    <div class="form-group">
      <label for="performerLast">Performer Last Name</label>
      <input type="text" name="performer_last_name" class="form-control" id="performer_last_name" placeholder="Doe">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" name="last_name" class="form-control" id="lastName" placeholder="Doe">
    </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input type="text" name="current_city" class="form-control" id="currentLocation" placeholder="New York">
      </div>
      <div class="form-group">
        <label for="gender">Affiliate Code</label>
        <input type="text" name="aff_code" class="form-control" id="aff_code" placeholder="Affiliate Code">
      </div>
      <div class="form-group">
        <label for="gender">Twitter</label>
        <input type="text" name="twitter" class="form-control" id="twitter" placeholder="@Twitter">
      </div>
      <div class="form-group">
        <label for="gender">Instagram</label>
        <input type="text" name="instagram" class="form-control" id="instagram" placeholder="@Instagram">
      </div>
      <div class="form-group">
        <label for="photo_url">Photo URL</label>
        <input type="text" name="photo_url" class="form-control" id="photo_url" placeholder="http://addresshere.com/image.jpg">
      </div>



      <button id="newbtn" type="submit" class="btn btn-info">Submit</button>
    </div>

</div>
    </form>



  </div>
</div>
</div>




  </div>
</div>
</div>


</div> <!-- end container -->
</main>
